h1{
    color:white;
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}
h2,p{
    text-align: center;

}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}